:root {
  --color-bg: #fefefe;
  --color-text: #000;
  --spacing: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: calc(var(--spacing) * 2) var(--spacing);
  background: var(--color-bg);
  color: var(--color-text);
}

h2 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: var(--spacing);
}

.about {
  margin-bottom: var(--spacing);
}

.links {
  display: flex;
  gap: var(--spacing);
  margin-top: var(--spacing);
  margin-bottom: calc(var(--spacing) * 2);
  list-style: none;
}

.links li {
  margin-bottom: 0;
}

li {
  margin-bottom: var(--spacing);
}

.back {
  display: inline-block;
  margin-bottom: calc(var(--spacing) * 2);
}

h1 {
  font-size: calc(var(--spacing));
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: var(--spacing);
}

#post-body {
  white-space: pre-wrap;
}

#post-body p {
  margin-bottom: var(--spacing);
}
